# nginx-deployment-1.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-1
  labels:
    app: nginx-1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-1
  template:
    metadata:
      labels:
        app: nginx-1
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
---
# nginx-service-1.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-service-1
spec:
  selector:
    app: nginx-1
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  type: LoadBalancer